body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}
nav {
  box-shadow: none;
}
.pass-container {
  height: 100vh;
  display: flex;
}
.pass-form {
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
}
.pass-input {
  width: 200px !important;
  margin: 0 10px 0 0 !important;
}
.list-container {
  margin-top: 20px;
}
.infobar-container {
  padding: 5px 0 5px 10px;
  margin-bottom: 5px;
  display: flex;
  justify-content: center;
}
.infobar-section {
  font-size: 22px;
}
.add-container {
  margin-top: 10px;
  padding: 10px 20px;
}
.employee-list-row {
  margin-bottom: 0;
}
.employee {
  margin-top: 10px;
  margin-bottom: 10px;
}
::-webkit-input-placeholder {
  opacity: 0.6;
  color: #000;
}
:-moz-placeholder {
  opacity: 0.6;
  color: #000;
}
::-moz-placeholder {
  opacity: 0.6;
  color: #000;
}
:-ms-input-placeholder {
  opacity: 0.6;
  color: #000;
}
/* ENDORA ADVERTISING */
.souhrn {
  text-align: center;
  border-top: 1px solid grey;
}
